.password-generator {
  margin: 50px auto;
  width: 305px;
  text-align: center;
  h2 {
    font-size: 47px;
    color: white;
    font-family: Lobster;
    font-weight: 100;
  }
  .generator-container {
    border: 1px solid white;
    padding: 20px 15px;
    margin-top: 50px;
    margin-bottom: 70px;
    border-radius: 8px;
    text-align: left;
    background-color: #030522b8;
    p {
      font-family: Montserrat;
      color: white;
      font-size: 22px;
    }
    input {
      margin: 15px auto 20px auto;
      display: block;
      background-color: rgba(240, 248, 255, 0.073);
      border-radius: 5px;
      color: #fff;
      font-family: Montserrat;
      font-size: 25px;
      padding: 8px 0;
      text-align: center;
      width: 100%;
    }
    button {
      display: block;
      border: 1px solid hsla(0, 0%, 100%, 0);
      border-radius: 8px;
      display: block;
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 700;
      margin: auto;
      padding: 3px 8px;
      &:hover {
        background-color: #17142a;
        border: 1px solid #fff;
        color: #f0f8ff;
        cursor: pointer;
      }
    }
  }
}
